@mixin text-lato($weight, $font-size, $line-height, $color) {
    font-family: 'Lato';
    font-style: normal;
    font-weight: $weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;

}
@mixin text-roboto($weight, $font-size, $line-height, $color) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: $weight;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;

}
