// text
$text-title-color: #1F2432;
$text-base-color: #2C3242;
$text-thin-color: #797B86;
$text-black-color: #212121;
$text-white-color: #FFFFFF;
$text-blue-color: #0069B4;
$text-crumbs-start-color: #33374E;

// background
$bg-card-color:#F6F8FA;
$bg-card-btn-active:#edf0f3;

// hr
$hr-color:#C4C4C4;
